@import "/src/scss/variables";

.loading {
    display: flex;
    width: 100%;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle {
    position: relative;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    animation: animate 0.8s linear infinite;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.circle::after {
    content: '';
    position: absolute;
    top: 35px;
    bottom: 35px;
    right: 35px;
    left: 35px;
    border-radius: 50%;
    background: $background;
}

.circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient($background, $orange);
    border-radius: 50%;
}

.circle span:nth-child(1) {
    filter: blur(5px);
}

.circle span:nth-child(2) {
    filter: blur(10px);
}

.circle span:nth-child(3) {
    filter: blur(15px);
}

.circle span:nth-child(4) {
    filter: blur(20px);
}

.text-loading {
    text-align: center;
    width: 200px;
    position: absolute;
    font-size: 24px;
}
