@import "fonts";
@import "variables";
@import "libs/normalize";

@import "components/all";

body {
  background-color: $orange;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: calc(100vw - 100px);
  height: 100%;
  background-color: $background;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  min-width: 900px;
  padding: 40px 0;

  &__title {
    margin: 15px 0;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__table {
    width: 100%;
    border: 5px solid $orange;
    border-collapse: collapse;
    border-spacing: 10px;
    margin-bottom: 20px;
    table-layout: fixed;

    &__strings:hover {
      color: $orange;
    }

    &__strings--head {
      user-select: none;
    }

    &__strings--head:hover {
      color: $background;
    }

    tr {
      cursor: pointer;
      background: $orange;
    }

    th {
      font-weight: bold;
      padding: 5px;
      cursor: pointer;
    }

    td {
      background: $background;
      border: 5px solid $orange;
      padding: 5px;
      word-wrap: break-word;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &__pagination {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }

  .active {
    background: $orange;
    color: $white;
  }

  &__pagination-links {
    border: 5px solid $orange;
    padding: 5px;
    margin: 0 2px;
    color: $orange;
    border-radius: 10px;
    font-size: 16px;
    width: 40px;

    &:hover {
      background: $orange;
      color: $white;
      transform: scale(1.15);
      transition: 0.2s;
    }
  }

  &__toogle-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__add-form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px;

    input {
      background: $background;
      color: $white;
      padding: 5px;
      margin-left: 5px;
      font-size: 1em;
      width: 150px;
      border: 5px solid $orange;
    }

    input:last-child {
      width: 200px;
    }

    input::placeholder {
      color: $orange;
    }
  }

  &__search-arrow {
    transform: rotate(0);
  }

  &__search {
    display: flex;
    align-items: center;
    margin: 15px 0;

    input {
      width: 100%;
      height: 50px;
      background: $background;
      color: $white;
      padding: 5px;
      font-size: 1em;
      border: 5px solid $orange;
    }
  }
}

svg {
  margin-left: 8px;
  transform: rotate(180deg);
  fill: $white;

  &.rotate {
    transform: rotate(0);
  }
}

.user-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  textarea {
    width: 600px;
    height: 100px;
    font-size: 20px;
    background: $orange;
    color: $white;
  }

  span,
  p {
    font-size: 20px;
  }
}

.button {
  display: inline-block;
  background-color: $orange;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 0 15px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  color: $white;
  font-size: 16px;
  transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
  border: 1px solid transparent;

  &--select-data {
    font-size: 3em;
  }

  &:hover {
    background: darken($orange, 10%);
  }

  &:active {
    background-color: darken($orange, 20%);
    transform: translateY(1px);
  }
}
