@import "fonts";
@import "variables";
@import "libs/normalize";

@import "components/all";

body {
  background-color: $orange;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: calc(100vw - 100px);
  height: 100%;
  background-color: $background;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.container {
  width: $container-width;
  margin: 0 auto;
  &--cart {
    max-width: 820px;
    margin: 90px auto;

    .content__title {
      margin: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__add-form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.content {
  min-width: 900px;
  padding: 40px 0;

  &__title {
    margin: 35px 0;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__table {
    width: 100%;
    border: 5px solid $orange;
    border-collapse: collapse;
    border-spacing: 10px;
    margin-bottom: 20px;

    &__strings:hover {
      color: $orange;
    }

    &__strings--head {
      user-select: none;
    }

    &__strings--head:hover {
      color: $background;
    }

    tr {
      cursor: pointer;
    }

    th {
      font-weight: bold;
      padding: 5px;
      background: $orange;
      cursor: pointer;

      :hover {
        color: #777777;
      }
    }

    th.ascending::after {
      content: "👇";
      display: inline-block;
      margin-left: 1em;
    }

    th.descending::after {
      content: "☝️";
      display: inline-block;
      margin-left: 1em;
    }

    td {
      background: $background;
      border: 5px solid $orange;
      padding: 5px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

svg {
  margin-left: 8px;
  transform: rotate(180deg);
  fill: $white;

  &.rotate {
    transform: rotate(0);
  }
}

.user-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  textarea {
    width: 600px;
    height: 100px;
    font-size: 20px;
  }

  span,
  p {
    font-size: 20px;
  }
}

.button {
  display: inline-block;
  background-color: $orange;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  color: $white;
  font-size: 16px;
  transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
  border: 1px solid transparent;

  &:hover {
    background: darken($orange, 10%);
  }

  &:active {
    background-color: darken($orange, 20%);
    transform: translateY(1px);
  }
}
